<footer class=" bg-body-tertiary text-center text-lg-start" style="margin-top: 300px;">
  <div class="container p-4">
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    <h6 class="text-uppercase mt-1">Anmerkung</h6>
    <p>
      Die Konten werden wenige Wochen nach dem Event gelöscht.
    </p><hr class="w-25 mx-auto">
    <div>
    <h5>Impressum</h5>
    Kai Phan<br>
		Lange Straße 48<br>
		31840 Hessisch Oldendorf<br>
		adventskalender@sghm.eu
    </div><hr class="w-25 mx-auto">
    <a class="text-body fw-bold" href="/datenschutz"> Datenschutz</a>
  </div>
</footer>
