<!-- <footer class="bg-body-tertiary text-center text-lg-start fixed-bottom">
    <div class="container p-4">
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      <h6 class="text-uppercase mt-1">Anmerkung</h6>
      <p>
        Die Accounts werden in wenige Wochen nach dem Event gelöscht.
      </p>
      <a class="text-body" href="/impressum">Impressum </a>
      |
      <a class="text-body" href="/datenschutz"> Datenschutz</a>
    </div>
  </footer> -->