{% extends 'vidPlatform/header.html' %} 


{% block content %}
{% include 'vidPlatform/includes/navbar.html' %}

<div class="container mt-5">
	<div class="container py-5 h-100">
	  <div class="row d-flex justify-content-center align-items-center h-100">
		<div class="col col-md-9 col-lg-7 col-xl-5">
		  <div class="card" style="border-radius: 15px">
			<div class="card-body p-4">
			  <div class="d-flex text-black">
				<div class="flex-grow-1 ms-3">
					<div class="row">
						<div class="col-xs-12 mb-2">
							<div class="rounded-6 p-2 bg-warning"  style="width: 90px;">
								<div class="text-center" >
									<i class="fas fa-trophy fa-2x"></i>
									<span class="fw-bold">#{{ placement }}</span>
								</div>
							</div>
						</div>
						<div class="col-xs-12">
				  <h5 class="mb-1">{{user.username}}</h5>
				  <p class="mb-1 pb-1" style="color: #2b2a2a">{{user.student.studentYear}}{{user.student.studentClass}}</p>
				</div>
				
				</div>
				  <!-- Create more info here -->
				  <div class="row">
					<div class="col-xs-12 col-md-6">
					  <p class="mb-1 pb-1 fw-bold h-75" style="color: #2b2a2a">
						Email
					  </p>
					</div>
					<div class="col-xs-12 col-md-6">
					  <p class="mb-1 pb-1 " style="color: #2b2a2a">
						{{user.email}}
					  </p>
					</div>
				  </div>
				  <div class="row">
					<div class="col-xs-12 col-md-6">
					  <p class="mb-1 pb-1 fw-bold h-75" style="color: #2b2a2a">
						Registiert am
					  </p>
					</div>
					<div class="col-xs-12 col-md-6">
					  <p class="mb-1 pb-1 " style="color: #2b2a2a">
						{{user.date_joined.date}}
					  </p>
					</div>
				  </div>
				  <div
					class="d-flex justify-content-around rounded-3 p-2 mb-2"
					style="background-color: #efefef"
				  >
					<div>
					  <p class="small text-muted mb-1">Fragen beantwortet</p>
					  <p class="mb-0">{{total}}</p>
					</div>
					<div class="px-3">
					  <p class="small text-muted mb-1">Richtig beantwortet</p>
					  <p class="mb-0 text-center">{{right}}</p>
					</div>
					<div>
					  <p class="small text-muted mb-1">Falsch beantwortet</p>
					  <p class="mb-0 text-end">{{wrong}}</p>
					</div>
				  </div>
				  <form  action="/account/delete/False/" method="post">
					  {% csrf_token %}
						<div class="d-flex pt-1">
							<button
								type="submit"
								class="btn btn-danger me-1 flex-grow-1"
							>
								Konto löschen
							</button>
						</div>
					</form>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
  <footer class=" bg-body-tertiary text-center text-lg-start" style="margin-top: 415px;">
	{% include 'vidPlatform/includes/footer.html' %}
  </footer>
{% endblock %}