{% extends 'vidPlatform/header.html' %} 

{% block content %}
{% include 'vidPlatform/includes/navbar.html' %}
	<Title>Info Adventskalender</Title>
	<div class="m-4 container mx-auto">
	<h1 class="headline1 text-center">Information</h1><br>
	Hallo liebe Schiller-Schulgemeinschaft,<br><br>

wir, das Seminarfach Mathe-Physik aus dem 13. Jahrgang, haben tolle Neuigkeiten für euch. Ab dem 05.12.2023 könnt ihr am „Phänomenalen Adventskalender“ teilnehmen. Es gibt großartige Preise für die Jahrgangsstufen 5-8 & 9-13 zu gewinnen!<br><br>
<p class="fw-bold">1. Platz 50€<br>2. Platz 25€<br>3. Platz 10€</p>
Alles was ihr tun müsst ist euch auf unserer Website jeden Tag ein kurzes Rätsel zu lösen! Dafür habt ihr bis zum Ende des jeweiligen Tags Zeit. Am Folgetag könnt ihr euch dann die Auflösung ansehen. Achtung: am 05.12 geht es mit den ersten fünf Rätseln auf einmal los. Mit ein bisschen Geschick und Glück gewinnt ihr am Ende einen unserer Preise. Wir verleihen die Preise bei den beiden Weihnachtsfeiern am 22.12.2023. 
Macht gerne mit und nutzt die Vorweihnachtszeit um jeden Tag etwas neues zu entdecken!

Weihnachtliche Grüße<br>
Euer Seminarfach Mathe-Physik
	</div>
	{% include 'vidPlatform/includes/footer.html' %}
{% endblock %} 