{% extends "vidPlatform/header.html" %}

{% block content %}      

{% load crispy_forms_tags %}


<!--Login--> 
  <section class="vh-100" style="background-color: #508bfc">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem">
            <div class="card-body p-5 text-center">
              <h3 class="mb-5">Anmeldung</h3>
              <form method="POST">
                {% csrf_token %}
                {{ login_form|crispy }}
                {% if type == 'error' %}
                  <p class="text-danger">{{ message }}</p>
                {%endif%}
              <button
                class="btn btn-primary btn-lg btn-block mb-3"
                type="submit"
              >
                Anmelden
              </button>
              <a href="#" class="text-primary">Password vergessen?</a>
              <hr class="my-3" />
              </form>
              <a
                class="btn btn-success btn-lg btn-block"
                href="/register"
                role="button"
              >
                Registrieren
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}