{% extends "vidPlatform/header.html" %}

{% block title %}Neues Passwort Eingeben{% endblock %}

{% block content %}
{%include "verifier/templates/includes/pwResetNavbar.html"%}
{% load crispy_forms_tags %}
<div class="container py-5 h-100">
	{% if validlink %}

	<h1>Such dir ein Neues Passwort aus</h1>
	<form method="POST">
		{% csrf_token %}
		{{ form|crispy }}
		<input class="btn btn-primary" type="submit" value="Ändere mein Passwort">
	</form>

	{% else %}

	<p>Der Link ist ungültig. Eventuell wurde dieser bereits verwendet. Bitte Frage erneut einen Link an.</p>

	{% endif %}
</div>
{% endblock %}