{% extends "vidPlatform/header.html" %}

{% block title %}Forgot Your Password?{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
{%include "verifier/templates/includes/pwResetNavbar.html"%}


<div class="container py-5 h-100">
  <div class="">
    <a class="btn btn-primary" href="/login" role="button">Zurück zum Login</a>
    <h1 class="mt-3">Passwort Vergessen?</h1>
    <p>Gib deine Iserv Email Adresse ein und wir senden dir einen Link zum Zurücksetzen.</p>


    <form method="POST">
      {% csrf_token %}
      {{ form|crispy }}
      <input class="btn btn-primary" type="submit" value="Zurücksetzen!">
    </form>
  </div>
</div>
{% endblock %}