{% extends 'vidPlatform/header.html' %} 


{% block content %}
{% include 'vidPlatform/includes/navbar.html' %}
<title>Tag Nr {{entry.id}}</title>

<body>

	{% if entry.title %}
		<h1 class="display-2 px-3">{{entry.start_date}}</h1>
	{% endif %}

	<div class="row">
		<div class="col-sm-8 px-4">
			<div class="bs-example" data-example-id="responsive-embed-16by9-iframe-youtube">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" 
					src="https://www.youtube.com/embed/{{entry.videoLink}}"
					allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
					allowfullscreen>
					</iframe>
				</div>
			</div>
		</div>
	</div>

	<h1 class="display-5 px-3">{{entry.question}}</h1>

	{%for choice in choices%}
			<div class="form-check m-3">
				{%if choice.id == choosen%}
					<input class="form-check-input " 
					type="radio" 
					name="choiceRadio" 
					id="flexRadioDefault1" 
					value="{{choice.id}}" checked>
				{% else %}
					<input class="form-check-input {{bg}}" 
					type="radio" 
					name="choiceRadio" 
					id="flexRadioDefault1" 
					value="{{choice.id}}">
				{%endif%}

				{%if choice.isCorrect%}
					<label class="form-check-label bg-bg-success-subtle" for="choiceRadio">
					{{choice.choice_text}} <i class="bi bi-check-circle" style=" color: limegreen;"></i>
					</label>
				{%else%}
					<label class="form-check-label" for="choiceRadio">
					{{choice.choice_text}} 
					
					</label>
				{%endif%}
			</div>
		{%endfor%}



	<h1 class="display-5 px-3">Auflösung</h1>
	<div class="row">
		<div class="col-sm-8 px-4">
			<div class="bs-example" data-example-id="responsive-embed-16by9-iframe-youtube">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" 
					src="https://www.youtube.com/embed/{{entry.resolutionVidLink}}"
					allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
					allowfullscreen>
					</iframe>
				</div>
			</div>
		</div>
	</div>

</body>
{% endblock %} 