{% extends 'vidPlatform/header.html' %} 


{% block content %}
{% include 'vidPlatform/includes/navbar.html' %}
<title>Tag Nr {{entry.id}}</title>

<body>

	{% if entry.title %}
		<h1 class="display-2 px-3">{{entry.title}}</h1>
	{% endif %}

	<div class="row">
		<div class="col-sm-8">
			<div class="bs-example" data-example-id="responsive-embed-16by9-iframe-youtube">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" 
					src="https://www.youtube.com/embed/{{entry.videoLink}}"
					allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
					allowfullscreen>
					</iframe>
				</div>
			</div>
		</div>
	</div>

	<h1 class="display-2 px-3">Deine Wahl</h1>
	<h1 class="display-5 px-3">{{entry.question}}</h1>

	<div>
		<form action="/advent/{{entry.id}}/" method="post">
		{% csrf_token %}


		{%for choice in choices%}
			<div class="form-check m-3">
				{%if choice.id == choosen%}
					<input class="form-check-input" type="radio" name="choiceRadio" id="flexRadioDefault1" value="{{choice.id}}" checked>
				{% else %}
					<input class="form-check-input" type="radio" name="choiceRadio" id="flexRadioDefault1" value="{{choice.id}}">
				{%endif%}
				<label class="form-check-label" for="choiceRadio">
				{{choice.choice_text}}
				</label>
			</div>
		{%endfor%}

		{%if justVoted%}
		<div class="alert alert-success" role="alert">
			Erfolgreich gewählt
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		  </div>
		{%endif%}

		<button class="btn btn-primary m-3" type="submit">Save</button>
		</form>

	</div>
</body>
{% endblock %} 