{% extends 'vidPlatform/header.html' %} 


{% block content %}
{% include 'vidPlatform/includes/navbar.html' %}
{% load crispy_forms_tags %}
<title>Tag Nr {{entry.id}}</title>



<body style="overflow-x: hidden;">
	<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
		<symbol id="check-circle-fill" viewBox="0 0 16 16">
		  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
		</symbol>
	</svg>
	<div>
		{% if messages %}
			<ul class="messages">
			{% for message in messages %}
				<div class="alert alert-{% if message.tags == 'error' %}danger{% elif message.tags == 'debug' %}light{% else %}{{message.tags}}{% endif %} d-flex align-items-center me-4 mt-2" role="alert">
					{% if message.tags == 'success' %}
						<i class="bi bi-check-circle" style=" color: limegreen;"> </i> &nbsp
					{%endif%}
					<div>
						{{ message | safe}}
					</div>

				</div>
			{% endfor %}
			</ul>
		{% endif %}
	</div>

	{% if entry.title %}
		<h1 class="display-2 px-3">{{entry.start_date}}</h1>
	{% endif %}

	<div class="row">
		<div class="col-sm-8 px-4">
			<!--<div class="bs-example" data-example-id="responsive-embed-16by9-iframe-youtube">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" 
					src="https://www.youtube.com/embed/{{entry.videoLink}}"
					allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
					allowfullscreen>
					</iframe>
				</div>
			</div>-->

			<iframe width="100%" height="350" style="max-width: 600px" 
			src="https://www.youtube.com/embed/{{entry.videoLink}}?autoplay=0&mute=1"
			allowfullscreen>
			</iframe>
		</div>
	</div>

	<h1 class="display-4 px-4">{{entry.question}}</h1>


	<div class="p-4">
		<form action="/advent/{{entry.id}}/" method="POST">
			{% csrf_token %}
			{{ form |crispy}}
			<button class="btn btn-primary" type="submit">Speichern</button>
		</form>
	</div>



</body>
{% endblock %} 