<!DOCTYPE html>
<html lang="en">
<head>
  {%load static%}
  <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="{% static '/css/mdb.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static '/css/fontawesome.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static '/css/roboto.css' %}"
      rel="stylesheet"
    />
    <link 
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    rel="stylesheet" 
    />
    <script
      type="text/javascript"
      src="{% static '/js/toastr.js' %}"
    ></script>

    <script src="{% static '/js/jquery.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/css/toastr.css' %}" media="all">
    <script type="text/javascript" src="{% static '/js/toastr.js' %}"></script>
    <link rel="icon" type="image/x-icon" href="/static/favicon.png">
</head>
<body>
  {% block content %}
  {% endblock %}
</body>
</html>