{% extends 'vidPlatform/header.html' %} 

{% block content %}
    {% include 'vidPlatform/includes/navbar.html' %}
    <title>Adventskalender</title>
    <div class="container text-center mt-3">
        <div class="row">
            {%if todays_Entry%}
            <div class="card col-md-6">   
                <div class="card-body">
                    <h5 class="card-title">Heutiges Rätsel</h5>
                    <a href="{% url 'detail' todays_Entry.0.id%}" class="btn btn-primary">Zum heutigen Rätsel</a>
                </div>
            </div>
            {% endif %}
            {%if yesterdays_Entry%}
            <div class="card col-md-6">
                <div class="card-body">
                    <h5 class="card-title">Auflösung von Gestern</h5>
                    <a href="{% url 'detail' yesterdays_Entry.0.id%}" class="btn btn-primary">Zur Auflösung</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            {% load entryValidator %}
            {% for dateentry in latest_list %}
            <div class="card col-md-4 my-1">
                <div class="card-body row">
                    {%validateIfActive dateentry as IsValid%}
                    {%validateIfOver dateentry as IsOver%}
                    {%validateIfInTheFuture dateentry as IsFuture%}
                    <h5 class="col-md-8 mt-2">Tag {{ forloop.counter }}</h5>
                    {%if IsValid%}
                        <a type="button" class="btn btn-success col-md-4" href="{% url 'detail' dateentry.id%}"><i class="fas fa-lock-open fa-lg"></i></a>
                    {%elif IsOver%}
                        <a type="button" class="btn btn-primary col-md-4" href="{% url 'detail' dateentry.id%}"><i class="fas fa-hourglass-end"></i></i></a>
                    {%elif IsFuture%}
                        <a type="button" class="btn btn-secondary disabled col-md-4" href="{% url 'detail' dateentry.id%}" ><i class="fas fa-lock fa-lg"></i></a>
                    {%endif%}
                </div>
            </div>
            {% endfor %}
        </div>
      </div>
      <footer class=" bg-body-tertiary text-center text-lg-start" >
        {% include 'vidPlatform/includes/footer.html' %}
      </footer>
{% endblock %}