{% extends 'vidPlatform/header.html' %} 

{% block content %}
    {% include 'vidPlatform/includes/navbar.html' %}

    <div class="container text-center">
        <div class="row">
            {%if todays_Entry%}
            <div class="col">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">Heutiges Rätsel</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="{% url 'detail' todays_Entry.0.id%}" class="btn btn-primary">Zum heutigen Rätsel</a>
                    </div>
                </div>
            </div>
            {% endif %}
            {%if yesterdays_Entry%}
            <div class="col">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">Auflösung von Gestern</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="{% url 'detail' yesterdays_Entry.0.id%}" class="btn btn-primary">Zur Auflösung</a>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
      </div>

    {% load entryValidator %}
    {% if latest_list %}
        <div class="container text-center">
        <div class="row row-cols-auto">
            {% for dateentry in latest_list %}
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            {%validateIfActive dateentry as IsValid%}
                            {%validateIfOver dateentry as IsOver%}
                            {%validateIfInTheFuture dateentry as IsFuture%}
                            Tag Nr. {{ forloop.counter }}
                            {%if IsValid%}
                                <a type="button" class="btn btn-success" href="{% url 'detail' dateentry.id%}">GO</a>
                            {%elif IsOver%}
                                <a type="button" class="btn btn-primary" href="{% url 'detail' dateentry.id%}">GO</a>
                            {%elif IsFuture%}
                                <a type="button" class="btn btn-secondary" href="{% url 'detail' dateentry.id%}">GO</a>
                            {%endif%}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No questions are available.</p>
    {% endif %}
   
{% endblock %} 