{% extends "vidPlatform/header.html" %}

{% block content %}      

{% load crispy_forms_tags %}

<div class="d-flex justify-content-center">
  <img src="/static/sghm.svg" alt="Logo" height="150" class="d-inline-block align-text-top">
</div>

<div class="m-3">
Liebe SuS, <br>

Unser Adventskalender startet erst am 5. Dezember 2023. Bis dahin können nur autorisierte Nutzer zugreifen. Wir freuen uns auf eure Teilnahme!
<br>
Eure 13G 
</div>

<form method="POST">
  {% csrf_token %}
  <div class="container">
    <div class="input-group mb-3 mt-5">
        <input
          name="passwd"
          type="text"
          class="form-control"
          placeholder="Passwort"
          aria-label="Passwort"
          aria-describedby="basic-addon1"
        />
        
      </div>
      <button class="btn btn-primary">Access</button>
{% if msg %}
        <p class="text-danger">{{ msg }}</p>
    {%endif%}
    </div>
</form>

{% endblock %}